/* Style guide */
/* kleuren blauw #020427 | zwart #313131 | wit #ffffff */
#index{
  background-color: #020427;
}

.kop-w{
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kop{
  color: #313131;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kopje-w{
  color: #ffffff;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kopje{
  color: #313131;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.broodtekst-w{
  color: #ffffff;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.broodtekst{
  color: #313131;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

a {
  color: #ffffff;
}

p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  margin: 0px;
  color: #313131;
}

/* nav */
nav{

  margin-bottom: 100px;
}

.nav-link{
  color: #ffffff;
  padding: 10px 80px;
}

.nav-link:hover, a:hover{
  color: grey;
  transition: 0.7s;
  text-decoration: none;
}

#logo{
  background-image: url("../img/Otis_icon_wit.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 41px;
  background-size: 15%;
}

/* nav & footer blue O */

.navBlueO{
  color: #020427;
  padding: 10px 80px;
}

#logoZ{
  background-image: url("../img/Otis_icon_Blue_O.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 41px;
  background-size: 15%;
}


/* footer */
.broodtekst-w-footer{
  margin: 0px 30px;
  color: #ffffff;
}

.broodtekst-w-footer-note{
  margin: 0px 5px;
  color: #ffffff;
  font-size: 10px;
}

.broodtekst-o-footer{
  margin: 0px 30px;
  color: #020427;
}

.broodtekst-o-footer-note{
  margin: 0px 5px;
  color: #020427;
  font-size: 10px;
}

footer{
  margin-bottom: 50px;
}

/* index page */
img {
  position: absolute;
  width: inherit;
}
.top-3{
  margin-bottom: 500px;
}

#cards-3{
  margin-bottom: 300px;
}

.col-3{
  margin: 0px 45px;
  position: relative;
}

.cardborder{
  border: 3px solid #ffffff;
  border-radius: 30px;
  padding: 120px;
}

@media screen and (max-width: 1000px){
  .cardborder{
    border: none;
    border-radius: none;
    padding: 120px;
  }
}

.cardsrow{
  margin-bottom: 140px;
  margin-top: 200px;
}

.highlight{
  margin-bottom: 700px;
}

/* about page */
.about{
  margin-bottom: 15%;
}

.about-col{
  padding: 2%;
}

#about-bg{
  position: fixed;
  width: 100%;
  z-index: -1;
  background-image: url("../img/nubelson-fernandes-gTs2w7bu3Qo-unsplash.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
}

@media screen and (max-width: 1500px) {
  #about-bg{
  background-size: 110%;
  width: 100%;
  position: fixed;
  }
}

@media screen and (max-width: 1250px) {
  #about-bg{
  background-size: 120%;
  width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  #about-bg{
  background-size: 130%;
  width: 100%;
  position: fixed;
  }
}

@media screen and (max-width: 1050px) {
  #about-bg{
  background-size: 140%;
  width: 100%;
  position: fixed;
  }
  .col-md-4 {
    max-width: 70%;
  } 
}

@media screen and (max-width: 960px) {
  #about-bg{
  background-size: 160%;
  width: 100%;
  position: fixed;
  }
}

@media screen and (max-width: 850px) {
  #about-bg{
  background-size: 180%;
  width: 100%;
  position: fixed;
  }
}

@media screen and (max-width: 750px) {
  #about-bg{
  background-size: 210%;
  width: 100%;
  position: fixed;
  }
}

@media screen and (max-width: 650px) {
  #about-bg{
  background-size: 230%;
  width: 100%;
  position: fixed;
  }
}

@media screen and (max-width: 600px) {
  #about-bg{
  background-color: #b6b6b6;
  position: fixed;
  }
}


/* work page */
.fotoweb{
  background-image: url("../img/apple_Imacpro.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  background-size: 90%;
}

.fotoapp{
  background-image: url("../img/iphoneX.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  background-size: 90%;
}

.fotoweb:hover{
  background-size: 100%;
}

.fotoapp:hover{
  background-size: 100%;
}


/* web project */
.sectie{
  margin-bottom: 400px;
}

.web-highlight{
  width: 70%;
}