/* Style guide */
/* kleuren blauw #020427 | zwart #313131 | wit #ffffff */
#index{
  background-color: #020427;
}

.kop-w{
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kop{
  color: #313131;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kopje-w{
  color: #ffffff;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.kopje{
  color: #313131;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

.broodtekst-w{
  color: #ffffff;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
}

a {
  color: #ffffff;
}

p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  margin: 0px;
  color: #313131;
}

#about-bg{
  position: fixed;
  width: 100%;
  z-index: -1;
  background-image: url("../img/nubelson-fernandes-gTs2w7bu3Qo-unsplash.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
}

/* nav */
nav{

  margin-bottom: 100px;
}

.nav-link{
  color: #ffffff;
  padding: 10px 80px;
}

.nav-link:hover, a:hover{
  color: grey;
  transition: 0.7s;
  text-decoration: none;
}

#logo{
  background-image: url("../img/Otis_icon_wit.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 41px;
  background-size: 15%;
}

/* footer */
.broodtekst-w-footer{
  margin: 0px 30px;
  color: #ffffff;
}

.broodtekst-w-footer-note{
  margin: 0px 5px;
  color: #ffffff;
  font-size: 10px;
}

footer{
  margin-bottom: 50px;
}

/* index */
img {
  position: absolute;
  width: inherit;
}
.top-3{
  margin-bottom: 500px;
}

#cards-3{
  margin-bottom: 300px;
}

.col-3{
  margin: 0px 45px;
  position: relative;
}

.cardborder{
  border: 3px solid #ffffff;
  border-radius: 30px;
  padding: 120px;
}

.cardsrow{
  margin-bottom: 140px;
  margin-top: 200px;
}

.highlight{
  margin-bottom: 700px;
}

/* about */
.about{
  margin-bottom: 15%;
}

.whitespace{
  margin: 50px 0px;
}

/* work */
.fotoweb{
  background-image: url("../img/apple_Imacpro.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  background-size: 90%;
}

.fotoapp{
  background-image: url("../img/iphoneX.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  background-size: 90%;
}

.fotoweb:hover{
  background-size: 100%;
}

.fotoapp:hover{
  background-size: 100%;
}